section.color-light
background-color: hsl(39, 6%, 95%);
color: #333;

.color-light .keyword, .color-light .class, .color-light .tag, .color-light .pseudo, .color-light .attr_selector, .color-light .constant, .color-light .xml .title
color: #446fbd;

.color-light .comment
color: hsl(0, 0%, 62%);

.color-light .title, .color-light .attribute, .color-light .params, .color-light .built_in
color: #8757ad;

.color-light .string, .color-light .pi, .color-light .language-less .keyword, .color-light .xml .value
color: #e88501;

.color-light .number, .color-light .xml .attribute
color: #6d8600;

.color-light .operator
color: #c33500;

section.color-dark
background-color: hsl(39, 6%, 12%);
color: #cfcfcf;

.color-dark .keyword, .color-dark .class, .color-dark .tag, .color-dark .pseudo, .color-dark .attr_selector, .color-dark .constant, .color-dark .xml .title
color: #6c9ef8;

.color-dark .comment
color: #767676;

.color-dark .title, .color-dark .attribute, .color-dark .params, .color-dark .built_in
color: #b77fdb;

.color-dark .string, .color-dark .pi, .color-dark .language-less .keyword, .color-dark .xml .value
color: #D89333;

.color-dark .number, .color-dark .xml .attribute
color: #85a300;

.color-dark .operator
color: #c34564;
